extends ../../layouts/default.pug

block main
    h1 Trang danh mục sản phẩm

        .card.mb-3  
        .card-body 
            .row 
                .col-3 
                    a(  href=`${prefixAdmin}/product-category/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới danh mục

      
                            