.header{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;  
}
.header .inner-logo{
    width: 50%;
    height: auto !important;
}   
.header .inner-logo img{
    width: 100%;
    height: auto;
}
.header .inner-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header .inner-menu ul li a {
    text-decoration: none;
}
.footer{
    background: #222121;
    padding: 20px 0;
}
.footer .inner-content{
    text-align: center;
    color: #fff;
}

.mb-4{
    margin-bottom: 4px;
}

/* PRODUCT */
.product-items{
    max-width: 150px;
    border: 1px solid #ddd; 
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    margin: 10px 0 !important;
}
.product-items .inner-info{
    text-align: center;
}
.product-items .inner-image{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.product-items .inner-image img{
    width: 100%;
}

.name{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-style: italic;
    font-weight: 800;
}

/* Trang chủ */
ul{
    list-style: none;
    display: flex;
}
.sub-menu{
    list-style: none;
    margin-left: 10px;
    position: relative;
    z-index: 999;
}
.sub-menu ul{
    position: absolute;
    left: 100%;
    min-width: 150px;
    top: 0;
    background-color: #ddd;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #eee;
    display: none!important;
}
.sub-menu:hover > ul {
    display: block !important;
}
.sub-menu ul li:hover > ul {
    display: block !important;
}

/* DETAIL PRODUCT */
.detail_image{
    width:80%;
    height: auto;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.detail_image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.detail_info .name{
    font-size: 25px
}
.detail_info .price{
    font-size: 23px;
    color: red;
    font-weight: 600;
}
.detail_info .discount{
    font-size: 18px;
    color: green;
    font-weight: 700;
}
.detail_info span{
    background-color: orange;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/* END */

/* Phần chat */
.chat {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;

}
.chat .inner-body{
    display: flex;
    flex-direction: column;
    max-height: 450px;
    overflow-y: auto;
}
.chat .inner-name{
    color: #000;
    font-weight: 600;
    margin-bottom: 3px
}
.chat .inner-comming{
    align-self: flex-start;
    margin: 5px 0px;
    max-width:40%;
}
.chat .inner-comming .inner-content{
    background-color: #ddd;
    padding: 0 10px;
    flex: 1;
    border-radius: 5px;
    margin-left: 5px;
}
.chat .inner-send {
    align-self: flex-end;
    margin: 5px 0px;
}
.chat .inner-send .inner-content {
    background-color: pink;
    padding: 0 10px;
    flex: 1;
    border-radius: 5px;
    margin-left: 5px;

}
.inner-foot{
    margin-top: 20px;
    text-align: center;
}   
.inner-foot input{
    width: 80%;
    border: 1px solid gray;
    border-radius: 5px;
}
.inner-foot button {
    border: 0;
    background: rgb(212, 124, 138);
    border-radius: 15%;
    padding: 5px;
}

/* emoji picker */
.tooltip {
    visibility: hidden;
}
.tooltip.shown {
    visibility:visible;
    opacity: 1;
}

/* end emoji picker */

/* typing */
.typing-container {
    display: flex;
    align-items: center;
    background: #e4e6eb;
    width: 50px;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dot {
    width: 4px;
    height: 4px;
    margin: 0 2px;
    background: #65676b;
    border-radius: 50%;
    animation: typing 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes typing {
    0%, 80%, 100% {
        opacity: 0.3;
        transform: scale(1);
    }
    40% {
        opacity: 1;
        transform: scale(1.2);
    }
}

/* end typing */



/* end phần chat */