extends ../../layouts/default.pug

block main
    .container
        h2.mb-4 Danh sách bạn bè
        include ../../partials/friend.partial.pug
        .row
            each item in listFriend
                .col-6
                    .block-user 
                        .inner-image 
                            img(
                                src = item.avatar ? item.avtatar : "/uploads/images.png"
                            )
                        .inner-info 
                            .inner-name #{item.fullName}
                            .inner-button 
                                span(
                                    class="badge bg-primary mx-2"
                                    button-request = item.id
                                ) Bạn bè
                                a(
                                    href=`/chat/${item.infoUser.roomChat_id}`
                                    class="btn btn-success"
                                ) Nhắn tin

block script 
    script(src="/client/js/friend.js") 