mixin sort-category()
    div(id="sort")
        select(name="sort"
            sort-select
            class="form-control mb-4"
            )
            option(value="position-asc") Vị trí tăng dần
            option(value="position-desc") Vị trí giảm dần
            option(value="title-asc") Tên sản phẩm A-Z
            option(value="title-desc") Tên sản phẩm Z-A  

        button(
            class="btn btn-danger"
            delete-sort
        ) Clear